<h1>The Lounge</h1>

<h2>Users:</h2>
<%= will_paginate @users, renderer: BootstrapPagination::Rails, class: "pull-left paginate" %>
<div class="row">
  <% @users.each do |u| %>
  <div class="col-md-10 well member">
    <%= u.username %>
  </div>
  <% end %>
</div>
