<h1>Editing Workout</h1>

<%= render 'form' %>

<%= link_to "Show", [current_user, @exercise], class: "btn btn-success" %>
<%= link_to "Back", user_exercises_path(current_user), class: "btn btn-info" %>
